{% extends "base.html." %}
{% block title %}Historial de compras{% endblock %}
{% block content %}
<h1 class="text-center">Historial de compras</h1>
{% if user.is_staff %}
<div class="alert alert-danger" role="alert">
    No tienes permisos para ver el historial de compras
</div>
{% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Compra</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <td>{{ compra.id }}</td>
                    <td>{{ compra.producto.nombre }}</td>
                    <td>{{ compra.cantidad }}</td>
                    <td>${{ compra.producto.precio }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No hay compras realizadas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}