{% extends "base.html" %}

{% block title %}compras{% endblock %}

{% block content %}
{% if user.is_staff %}
    <h1 class="text-center">compras</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Compra</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <td>{{ compra.id }}</td>
                    <td>{{ compra.producto.nombre }}</td>
                    <td>{{ compra.cantidad }}</td>
                    <td>{{ compra.producto.precio }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-danger" role="alert">
        No tienes permisos para ver las ventas
    </div>
{% endif %}
{% endblock %}