{% extends "base.html" %}

{% block title %}Ventas{% endblock %}

{% block content %}
    <h1 class="text-center">Ventas</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Compra</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
                <tr>
                    <td>{{ venta.id }}</td>
                    <td>{{ venta.producto.nombre }}</td>
                    <td>{{ venta.cantidad }}</td>
                    <td>{{ venta.producto.precio }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}